extends layouts/mainLayout

block content
    .container.mt-5
        .row
            .col-md-8.offset-md-2.text-center
                h1 Personality Perfect
                .border.p-5.mt-4
                    h3 Under Construction
                    p This page is under construction. More will be added soon.