extends layouts/mainLayout

block content
    .container.mt-5
        h1.text-center.mb-4 Personality Perfect
        .row.justify-content-center
            .col-md-6.border.p-4.text-center
                h3.mb-3 Page Not Found!
                p Oops! The page you're looking for doesn't seem to exist.
                a.btn.btn-primary(href="/") Return to Home